img{
    width: 100%;
}

/* Small Devices */
@media (max-width:500px){
    body {
        background:linear-gradient(45deg, #9c61e4, #fdc419);
    }
    h1:nth-child(1){
        display:block;
    }
}


/* Mobile Devices */
@media (min-width:501px) and (max-width:600px){
    body {
        background:linear-gradient(45deg, #e52125, #19fd1d);
    }
    h1:nth-child(2){
        display:block;
    }
}

/* Tablet Devices */
@media (min-width:601px) and (max-width:700px){
    body {
        background:linear-gradient(45deg, #e6c1c4, #fd1993);
    }
    h1:nth-child(3){
        display:block;
    }
}

/* Laptop Devices */
@media (min-width:701px) and (max-width:1000px){
    body {
        background:linear-gradient(45deg, #21e555, #19b5fd);
    }
    h1:nth-child(4){
        display:block;
    }
}


/* Large Devices */
@media (min-width:1001px){
    body {
        background:linear-gradient(45deg, #e5e521, #fd1993);
    }
    h1:nth-child(5){
        display:block;
    }
}