p{
font-family: 'Kanit', sans-serif;
font-weight: 400;
font-size: 20px;
}


.overflow-visible{
    background:grey;
    overflow:visible;
    height: 120px;
    width: 50%;
    padding: 10px;
    border: 2px solid black;
}


.overflow-hidden{
    background:grey;
    overflow:hidden;
    height: 150px;
    width: 50%;
    padding: 10px;
    border: 2px solid black;
}


/* .overflow-scroll{
    background:grey;
    overflow:scroll;
    height: 150px;
    width: 50%;
    padding: 10px;
    border: 2px solid black;
} */


.overflow-auto{
    background:grey;
    overflow:auto;
    height:100px;
    width: 50%;
    padding: 10px;
    border: 2px solid black;
}